body {
  font-family: "Courier New", monospace;
  font-size: 30px;
}

.game-area {
  display: flex;
  flex-direction: row;
}

.clues-area {
  display: flex;
  flex-direction: column;
}

/* Board */
.board {
  min-width: max-content;
}
.cell {
  padding: 2px;
  border: 2px solid #919191;
  line-height: 1em;
  height: 1em;
  width: 1em;
  text-align: center;
  display: inline-block;
  margin: 0;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  position: relative;
}
.cell.blank {
  background-color: black;
  cursor: none;
}
.cell.selected {
  background-color: #5555ff;
  color: white;
}
.cell.incorrect {
  color: red;
}
.cell > .indicator {
  color: black;
  position: absolute;
  font-size: 0.5em;
  line-height: 0.5em;
  top: 4px;
  left: 0px;
}
.cell.selected > .indicator {
  color: white;
}
.cell.in-range {
  border: 2px solid blue;
}

/* Clues */
.clue-list {
  max-height: 150px;
  overflow: scroll;
}
.clue-list .selected {
  border: 2px solid blue;
}
.clue-list .highlighted {
  background-color: #5555ff;
  color: white;
}
