.board {
  font-family: "Courier New", monospace;
}

.cell {
  padding: 2px;
  border: 2px solid #919191;
  line-height: 1em;
  height: 1em;
  width: 1em;
  text-align: center;
  display: inline-block;
  margin: 0;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  position: relative;
}
.cell.blank {
  background-color: black;
  cursor: none;
}
.cell.selected {
  background-color: #5555ff;
  color: white;
}
.cell.incorrect {
  color: red;
}
.cell > .indicator {
  color: black;
  position: absolute;
  font-size: 0.1em;
  top: 0px;
  left: 0px;
}
.cell.selected > .indicator {
  color: white;
}
.cell.in-range {
  border: 2px solid blue;
}
