.board {
  font-family: "Courier New", monospace;
}

.cell {
  padding: 2px;
  border: 1px solid black;
  line-height: 1em;
  height: 1em;
  width: 1em;
  text-align: center;
  display: inline-block;
  margin: 0;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
}
.cell.blank {
  background-color: black;
  cursor: none;
}
.cell.selected {
  background-color: #5555ff;
  color: white;
}
.cell.incorrect {
  color: red;
}
